.header__lang-link {
  color: #fff;
  transition: opacity 1s ease-out;
}

.header__lang-link:hover {
  opacity: .8;
}

.header__lang-link:first-child {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: underline;
  margin-bottom: 8px;
}

.header__lang-link:last-child {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  margin: 0 0 8px 18px;
}


@media (max-width: 500px) {
  .header__lang-link:last-of-type {
    padding-left: 8px;
  }
}

@media (max-width: 340px) {
  .header__lang-link:first-child {
    font-size: 18px;
    line-height: 20px;
  }

  .header__lang-link:last-child {
    margin-right: 0;
    line-height: 20px;
    font-size: 18px;
    margin-left: 10px;
  }
}
