.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width:720px) {
  .place__title {
    order: 1;
    width: 90%;
    font-size: 32px;
    line-height: 35px;
    margin: 0 auto;
  }
}