.header__links {
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width:800px) {
  .header__links {
    padding-right: 23px;
  }
}

@media (max-width: 500px) {
  .header__links {
    padding-right: 0;
  }
}
