.place__image {
  grid-area: image;
  object-fit: cover;
  display: block;
}

@media screen and (max-width: 1100px) {
  .place__image {
    width: 440px;
    height: 440px;
  }
}

@media screen and (max-width: 980px) {
  .place__image {
    width: 340px;
    height: 340px;
  }
}

@media (max-width: 730px) {
  .place__image {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 520px) {
  .place__image {
    width: 320px;
    height: 320px;
    margin-bottom: 5px;
  }
}
