.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  max-width: 360px;
  margin: 25px 0 0;
  padding: 0 412px 245px;
}

@media (max-width: 1135px) {
  .cover__subtitle {
    padding: 0 332px 195px;
  }
}

@media (max-width: 980px) {
  .cover__subtitle {
    padding: 0 204px 115px;
  }
}

@media (max-width:640px) {
  .cover__subtitle {
    padding: 0 16px 33px;
    width: 90%;
  }
}

@media (max-width: 400px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    white-space: pre-line;
    margin: 0;
  }
}


