.header__logo {
  width: 176px;
  height: 52px;
}

@media (max-width: 800px) {
  .header__logo {
    width: 176px;
    padding-left: 23px;
  }
}

@media (max-width: 500px) {
  .header__logo {
    margin: 0;
    width: 142px;
    height: 42px;
    padding-left: 0;
  }
}
