.header {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 28px auto 56px;
}

@media screen and (max-width: 1000px) {
  .header {
    max-width: 720px;
    margin: 28px auto 48px;
  }
}

@media screen and (max-width:720px) {
  .header {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 90%;
    margin: 16px auto 48px;
    justify-content: space-between;
  }
}