.place__paragraphs {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 484px;
  grid-template-rows: min-content min-content;
  gap: 26px;
}

@media screen and (max-width: 1000px) {
  .place__paragraphs {
    max-width: 352px;
  }
}

@media screen and (max-width:720px) {
  .place__paragraphs {
    order: 6;
    max-width: 288px;
    display: flex;
    flex-direction: column;
  }
}