.lead__title {
  width: 720px;
  max-height: 200px;
  color: #fff;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 56px auto 0;
}

@media screen and (max-width:720px) {
  .lead__title {
    width: 90%;
    font-size: 40px;
    line-height: 44px;
  }
}