.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #fff;
  max-width: 484px;
  grid-column: 1;
  grid-row: 1;
  margin: 0;
}

.place__paragraph:last-of-type {
  grid-column: 1;
  grid-row: 2;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    max-width: 456px;
  }
}

@media screen and (max-width: 1000px) {
  .place__paragraph {
    font-size: 16px;
    max-width: 352px;
  }
}

@media screen and (max-width:720px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
}
