.place__paragraph {
  margin: 0 0 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
}

@media screen and (max-width: 980px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 25px;
  }

  .place__paragraph:nth-child(even) {
    margin: 0;
  }
}

@media (max-width: 740px) {
  .place__paragraph {
    max-width: 500px;
  }
}

@media (max-width: 520px) {
  .place__paragraph {
    max-width: 288px;
  }
}
