.cover {
  display: block;
  max-height: 740px;
  margin: 0 auto;
  text-decoration: none;
  object-fit: contain;
}

@media (max-width: 1200px) {
  .cover {
    max-height: 640px;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .cover {
    max-height: 480px;
  }
}

@media (max-width:720px) {
  .cover {
    max-height: 480px;
  }
}

@media (max-width: 400px) {
  .cover {
    max-height: 200px;
  }
}
