.footer {
  margin: 92px auto 0;
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .footer {
    margin: 92px 48px 0;
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    margin: 88px 24px 24px;
  }
}

@media screen and (max-width:720px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}