@media (max-width: 1200px) {
  .photo-grid__image {
    width: 300px;
    height: 225px;
  }
}

@media (max-width: 950px) {
  .photo-grid__image {
    width: 352px;
    height: 264px;
  }
}

@media (max-width: 730px) {
  .photo-grid__image {
    width: 288px;
    height: 216px;
    margin-bottom: -4px;
  }

  .photo-grid__image:last-child {
    margin-bottom: 0;
  }
}
