.place__website {
  grid-area: website;
  align-self: end;
}

@media (max-width: 740px) {
  .place__website {
    align-self: flex-start;
  }
}

@media (max-width: 520px) {
  .place__website {
    max-width: 288px;
    margin-left: 20px;
  }
}
