.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #fff;
  margin-bottom: 38px;
  margin-top: 0;
}

@media screen and (max-width: 340px) {
  .intro__title {
    max-width: 240px;
    font-size: 32px;
    line-height: 35px;
  }
}
